alias cat=bat
alias gf="git flow"
alias gl="git log --graph --oneline --all"
alias gll="git log --oneline --decorate --all --graph --stat"
alias gld="git log --oneline --all --pretty=format:\"%h%x09%an%x09%ad%x09%s\""
alias gls="gl --show-signature"
alias ls="ls --color=auto"
alias lg="lazygit"
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias npms="npmsearch"
alias c='fasd_cd -d'
alias -g G="| grep"
alias -g L="| less"
if [[ $machine == 'linux'  ]]; then
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
fi


