[gpg]
	program = gpg
[includeIf "gitdir:~/w0/"]
  path = .gitconfig-work
[includeIf "gitdir:~/me/"]
  path = .gitconfig-me
[includeIf "gitdir:~/.local/share/yadm/repo.git"]
  path = .gitconfig-evil
[includeIf "gitdir:~/evl/"]
  path = .gitconfig-evil
[includeIf "gitdir:~/.password-store/"]
  path = .gitconfig-evil
[rerere]
	enabled = true
[alias]
  # you need install vim-conflicted
	conflicted = !vim +Conflicted
  # use for resolve conflicted
  accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
  accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
[commit]
  gpgsign = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	ff = only
