[submodule "fzf-scripts"]
	path = fzf-scripts
	url = git@github.com:DanielFGray/fzf-scripts.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule ".config/tmux-plugins"]
	path = .config/tmux-plugins
	url = git@github.com:tmux-plugins/tpm.git
